.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testing {
  text-align: center;
  font-size: 60px;
  color: teal;
}

.btn-test {
  font-size: 30px;
}
